*{
    font-family: 'poppins' ,sans-serif;
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color:aquamarine;
    
} 
.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: aq;
    outline: none;
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color:black;
}
::-webkit-input-placeholder{
    color:black;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
} 





